body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
}
.content{
    height: 580px;
    width: 500px;
    top: 50%;
    left: 50%;
    margin: -290px 0 0 -250px;
    background: rgb(255,255,255);
    position: absolute;
    display: none;
}
.head{
    height: 40px;
}
.foot{
    height: 40px;
}
ol{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
ol li{
    float: left;   
    height: 40px;
    box-sizing: border-box;
    border-left: 4px green solid;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
}
.head ol li:nth-of-type(1){
    width:75%;
}
.head ol li:nth-of-type(2){
    width:25%;
}
.foot ol li:nth-of-type(1){
    width:55%;
}
.foot ol li:nth-of-type(2){
    width:15%;
}
.foot ol li:nth-of-type(3){
    width:15%;
}
.foot ol li:nth-of-type(4){
    width:15%;
}
.foot a{
    text-decoration: none;
    color:black;
    display: inline-block;
    width: 100%;
    height:100%;
}
.main{
    height: 500px;
    width: 500px;
    position: relative;
}
#roll{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), 0px -1px 2px rgba(0,0,0,0.3);
    position: absolute;
}
.main ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.main ul li{
    position: absolute;
    width:100px;
    height: 100px;
    box-sizing: border-box;
    transition: all 0.05s linear;
}
.main ul li.c1{
    left:0px;
    top:0px;
}
.main ul li.c2{
    left:100px;
    top:0px;
}
.main ul li.c3{
    left:200px;
    top:0px;
}
.main ul li.c4{
    left:300px;
    top:0px;
}
.main ul li.c5{
    left:400px;
    top:0px;
}

.main ul li.c6{
    left:400px;
    top:100px;
}
.main ul li.c7{
    left:400px;
    top:200px;   
}
.main ul li.c8{
    left:400px;
    top:300px;
}
.main ul li.c9{
    left:400px;
    top:400px;
}
.main ul li.c10{
    left:300px;
    top:400px; 
}
.main ul li.c11{
    left:200px;
    top:400px;
}
.main ul li.c12{
    left:100px;
    top:400px;
}
.main ul li.c13{
    left:0px;
    top:400px;
}
.main ul li.c14{
    left:0px;
    top:300px;
}
.main ul li.c15{
    left:0px;
    top:200px;
}
.main ul li.c16{
    left:0px;
    top:100px;    
}
#gameend{
    position: absolute;
    left: 0;
    top:0;
    width: 500px;
    height: 580px;
    z-index:9;
    background: rgba(0,0,0,0.7);
    display: none;
}
#gameend dl,dt,dd{
    padding: 0;
    margin: 0;
}
#gameend dl{
    height: 200px;
    width: 100%;
    padding: 140px 0 0 0;
}
#gameend dt,#gameend dd{
    float: left;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
#gameend dt{
    width:25%;
    background: red;
}
#gameend dd{
    width:75%;
    background: blue;
}
#gameend .endbutton{
    text-decoration: none;
    display: block;
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
}
#gamepause{
    position: absolute;
    left: 0;
    top:0;
    width: 500px;
    height: 580px;
    z-index:99;
   
    display: none;
}
#gamepause .pausebutton{
    display: block;
    height: 300px;
    width: 300px;
    padding: 140px 100px;
    background: rgba(0,0,0,0.7);
    text-decoration: none;
    line-height: 300px;
    text-align: center;
}
